html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin: auto;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  padding: 10px;
  top: 0;
  background-color: black;
}

.logo {
  display: flex;
  height: 50px;
  margin-left: 10px;
}

.nav {
  display: inline-flex;
  padding-right: 20px;
}

ul li {
  display: inline-block;
  text-decoration: underline;
  margin: 10px;
}

.mission {
  display: flex;
  height: 700px;
  background-image: url(../images/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 90px;
  justify-content: center;
  align-items: center;
}

.missionText {
  display: block;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
}

.month {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 50px;
}

.monthText {
  display: block;
  width: 1000px;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.berry, .rum, .donuts, .myrtle, .bedford {
  width: 300px;
}

.berryImage, .rumImage, .donutsImage, .myrtleImage, .bedfordImage {
 display: inline-block;
 height: 200px;
 width: 100%;
 object-fit: scale-down;
}

.myrBed {
  display: flex;
  flex-direction: row;
}

.myrtle, .bedford {
  margin-left: 17px;
  margin-right: 17px;
}

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.locations {
  display: flex;
  height: 500px;
  background-image: url(../images/img-locations-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 50px;
}

.locationsText {
  display: block;
  justify-content: flex-start;
}

.locationBlocks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 100px;
  opacity: 1;
}

.downtown, .eastBayside, .oakdale {
  height: 300px;
  width: 300px;
  text-align: center;
  background-color: black;
  margin-left: 20px;
  margin-right: 20px;
}

.contact {
  height: 200px;
  width: 100%;
  text-align: center;
}

.footer {
  text-align: left;
  margin-left: 20px;
}
